# Agendia Interview Quiz

By Jackie Petersen

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# read in the data
df = pd.read_csv('Agendia_dataset.csv')
df.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10
0,0.113703,-0.020142,-0.191981,-0.134879,0.544054,-0.109693,0.806740,0.148723,0.236825,-0.086808
1,0.622299,0.775105,0.210805,0.732455,0.681062,-0.553372,0.927581,0.598278,0.809218,0.653693
2,0.609275,0.612472,0.099767,0.468287,0.414651,-0.703363,0.453796,0.506354,0.495636,0.007674
3,0.623379,0.379336,0.380884,0.775001,0.344287,-0.603426,0.468473,0.826142,0.770183,0.053877
4,0.860915,0.863682,NaN,0.726049,1.089600,-0.907231,0.267629,1.149640,0.827683,0.947081

#### Exploring the data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Var1    50 non-null     float64
 1   Var2    50 non-null     float64
 2   Var3    45 non-null     float64
 3   Var4    50 non-null     float64
 4   Var5    50 non-null     float64
 5   Var6    50 non-null     float64
 6   Var7    50 non-null     float64
 7   Var8    50 non-null     float64
 8   Var9    50 non-null     float64
 9   Var10   50 non-null     float64
dtypes: float64(10)
memory usage: 4.0 KB

#### 1. Plot the relationship between the first two columns.

#### 2. What's the Pearson's correlation coefficient between the first two columns?

#### 3. Between the second and the third?

#### 4. Which two columns in the dataset are the most related?

#### 5. How would you show the answer to the previous question visually? Please justify your choice of plot using 1-2 sentences.

#### 6. What's the equation of the best fit line between the two most related columns?

#### 7. Plot the two most related columns and annotate it with the best fit line, its equation, and the Pearson's correlation coefficient.