# Agendia Interview Quiz

By Jackie Petersen

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read in the data
df = pd.read_csv('Agendia_dataset.csv')
df.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10
0,0.113703,-0.020142,-0.191981,-0.134879,0.544054,-0.109693,0.806740,0.148723,0.236825,-0.086808
1,0.622299,0.775105,0.210805,0.732455,0.681062,-0.553372,0.927581,0.598278,0.809218,0.653693
2,0.609275,0.612472,0.099767,0.468287,0.414651,-0.703363,0.453796,0.506354,0.495636,0.007674
3,0.623379,0.379336,0.380884,0.775001,0.344287,-0.603426,0.468473,0.826142,0.770183,0.053877
4,0.860915,0.863682,NaN,0.726049,1.089600,-0.907231,0.267629,1.149640,0.827683,0.947081

#### Exploring the data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Var1    50 non-null     float64
 1   Var2    50 non-null     float64
 2   Var3    45 non-null     float64
 3   Var4    50 non-null     float64
 4   Var5    50 non-null     float64
 5   Var6    50 non-null     float64
 6   Var7    50 non-null     float64
 7   Var8    50 non-null     float64
 8   Var9    50 non-null     float64
 9   Var10   50 non-null     float64
dtypes: float64(10)
memory usage: 4.0 KB

In [4]:
df.describe()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10
count,50.000000,50.000000,45.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,0.469481,0.402490,0.489891,0.535269,0.481135,-0.467637,0.495902,0.482265,0.498750,0.502761
std,0.263871,0.318720,0.491264,0.599893,0.360983,0.286225,0.550506,0.359341,0.284341,0.577238
min,0.009496,-0.248381,-0.409247,-0.819803,-0.308535,-1.069065,-0.579576,-0.151533,-0.051121,-0.749464
25%,0.260404,0.225523,0.125549,0.045341,0.244259,-0.699172,0.113581,0.199652,0.262063,0.056919
50%,0.493494,0.366431,0.521477,0.607650,0.445399,-0.414533,0.446750,0.457692,0.495754,0.416758
75%,0.661164,0.630165,0.815127,0.881676,0.706706,-0.222793,0.934630,0.800995,0.718437,0.997728
max,0.992150,1.270785,1.498083,1.660966,1.220251,0.043707,1.697750,1.207747,1.096372,1.807259

#### 1. Plot the relationship between the first two columns.

#### 2. What's the Pearson's correlation coefficient between the first two columns?

#### 3. Between the second and the third?

#### 4. Which two columns in the dataset are the most related?

#### 5. How would you show the answer to the previous question visually? Please justify your choice of plot using 1-2 sentences.

#### 6. What's the equation of the best fit line between the two most related columns?

#### 7. Plot the two most related columns and annotate it with the best fit line, its equation, and the Pearson's correlation coefficient.